server {
  listen 80;
  listen [::]:80;
  root /home/ubuntu/UnifiedPortfolio/Cineflix/frontend;
  index index.html;
  server_name cineflix.video;

  location / {
    try_files $uri $uri/ =404;
  }

  location /images {
    alias /home/ubuntu/UnifiedPortfolio/Cineflix/backend/movies;
  }
}

server {
  listen [::]:443 ssl ipv6only=on; # managed by Certbot
  listen 443 ssl; # managed by Certbot
  ssl_certificate /etc/letsencrypt/live/cineflix.video/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/cineflix.video/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/cineflix-options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/cineflix-ssl-dhparams.pem; # managed by Certbot

  root /home/ubuntu/UnifiedPortfolio/Cineflix/frontend;
  index index.html;
  server_name cineflix.video;

  location / {
    try_files $uri $uri/ =404;
  }

  location /images {
    alias /home/ubuntu/UnifiedPortfolio/Cineflix/backend/movies;
  }
}
